{% extends 'layouts/base.html' %}

{% block content %}

<main class="container py-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Create Task</h2>

            {{error}}
            <form action="{% url 'create_task' %}" method="POST"  class="card card-body">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="title" class="form-label">{{ form.title.label }}</label>
                    <input type="text" class="form-control " id="title" name="title" placeholder="Tittle Example">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">{{ form.description.label }}</label>
                    <textarea class="form-control" id="description" name="description"></textarea>
                </div>
                <div class="mb-3">
                    <label for="importance" class="form-label">{{ form.importance.label }}</label>
                    <input type="range" class="form-range" name="importance" id="importance" min="0" max="1" step="0.01">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" value="True" id="completed" name="completed">
                    <label for="completed" class="form-check-label">{{ form.completed.label }}</label>
                </div>
                <div class="mb-3">
                    <label for="importance" class="form-label">{{ form.project.label }}</label>
                    <select class="form-select" aria-label="Default">
                        {% for project in projects %}
                        <option value="{{ project.pk }}">{{ project.title }}</option>
                        {% endfor %}
                    </select>
                </div>
           
                <button class="btn btn-secondary">Save</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}