{% extends 'layouts/base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body text-light bg-dark border border-secondary">
        <h1>Home</h1>
        <p >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident placeat molestias aut omnis quaerat modi dicta est ea explicabo. Est doloremque illum ducimus corrupti magni pariatur a ea quae hic sint minima, consectetur impedit culpa voluptate adipisci unde accusamus totam? Quidem velit laudantium et? Sit odio totam reiciendis temporibus facilis vel laudantium optio! Illum, quidem repellendus, cupiditate nihil labore voluptatem vitae totam aspernatur aut voluptatibus, omnis asperiores ipsam quis voluptatum optio. Vel ratione eveniet labore ducimus tempore repellendus enim provident eum ipsam exercitationem officiis tempora corrupti natus explicabo fugiat perferendis aliquid sed, facilis necessitatibus ipsa hic. Debitis similique rerum et!
        </p>
    </section>
</main>

{% endblock %}