{% extends 'layouts/base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body text-light bg-dark border border-secondary">
        <h2>{{ project.title }}</h2>
        <img src="{{ project.image.url }}" />
        <p>{{ project.description }}</p>
        <h3>Tasks</h3>
        {% for task in task_list %}
            <div class="card card-body border border-secondary">
                <h4>{{ task.title }}</h4>
                <p>{{ task.description }}</p>
            </div>
        {% endfor %}
    </section>
</main>


{% endblock %}